.paySection{
        width: 80%;
        margin: 0 auto;
        min-height: calc(100vh - 300px);
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        align-items: center;
}