.profileSection{
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 300px);
    display: flex;
    justify-content: space-between;
}

.profileMenu{
    height: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: flex-start;
}

.profileLink{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(111, 137, 173);
}

.active{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(148, 134, 179);
    border-bottom: 1px solid rgb(148, 134, 179);
}