.history{
    display: flex;
    margin-top: 30px;
    border: 1px solid black;
}

.strOne{
    min-width: 200px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.batonStandartRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #9486b3 !important;
    border: none;
    color: white;
    font-size: 17px !important;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    font-weight: 700;
    padding: 5px;
}




@media (max-width: 1039px) {
    .tableRow{
        font-size: 12px !important;
    }
    .batonStandartRow {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #9486b3 !important;
        border: none;
        color: white;
        font-size: 15px !important;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        font-weight: 700;
        padding: 5px;
    }
}


@media (max-width: 985px) {

    .tableRow{
        font-size: 11px !important;
    }

    .batonStandartRow {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #9486b3 !important;
        border: none;
        color: white;
        font-size: 12px !important;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        font-weight: 700;
        padding: 5px;
    }
}

@media (max-width: 510px) {
    .tableRow{
        font-size: 12px ;
        padding: 5px !important;
    }
    .batonStandartRow {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #9486b3 !important;
        border: none;
        color: white;
        font-size: 12px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        font-weight: 700;
        padding: 5px;
    }
}