.login {
    font-family: "Bebas Neue", cursive;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.linkIcon{
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: flex-end;
    text-decoration: none;
    font-weight: bold;
    color: rgb(186, 130, 167);
    text-shadow: -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}



.glavFonlogin{
    height: 100%;
    width: 65%;
}
.fonLogin{
    height: 100vh;
    width: 65%;
    position: fixed;
    background: url('../../Balance.jpg') no-repeat 38%;
    background-size: cover;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    width: 35%;
    padding: 30px 0;
    transition: .5s;
}

.spanDobro{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0 40px 0;
}

.knopki{
    display: flex;
    justify-content: center;
}

.knopka{
    height: 50px;
    min-width: 200px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border: .5px solid rgb(111, 137, 173);
    transition: .5s;
    &:hover{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }


}
.ef{
    color: #3f775f !important;
}


@media (max-width: 1158px) {
    .ef{
        color: #3f775f !important;
    }
    .glavFonlogin{
        height: 100%;
        width: 45% !important;
    }


    .fonLogin{
        height: 100vh;
        width: 45% !important;
        position: fixed;
        background: url('../../Balance.jpg') no-repeat 50%;
        background-size: cover;
    }

    .login {
        font-family: "Bebas Neue", cursive;
        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
    }
    .formLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) !important;
        width: 55%;
        padding: 30px 0;
        transition: .5s;
        z-index: 1;
    }


}




@media (max-width: 734px) {
    .glavFonlogin{
        display: none;
    }

    .ef{
        color: #3f775f !important;
    }
    .fonLogin{
       display: none;
    }

    .login {
        font-family: "Bebas Neue", cursive;
        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
    }
    .formLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) !important;
        width: 100%;
        padding: 30px 0;
        transition: .5s;
        z-index: 1;
    }
    .linkIcon{
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 25px;
        text-decoration: none;
        font-weight: bold;
        color: rgb(186, 130, 167);
        text-shadow: -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    }

    .ef{
        color: #3f775f !important;
        margin: 0 !important;
    }

}



@media (max-width: 413px) {
    .loginSpan {
        font-size: 28px !important;
        font-weight: bold;
        color: #9486b3;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .linkIcon{
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 25px;
        text-decoration: none;
        font-weight: bold;
        color: rgb(186, 130, 167);
        text-shadow: -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    }

    .ef{
        color: #3f775f !important;
        margin: 0 !important;
    }
    .knopki{
        display: flex;
        justify-content: center;
    }

    .knopka {
        height: 50px;
        min-width: 130px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        border: .5px solid rgb(111, 137, 173);
        transition: .5s;

        &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        }

        .spanDobro {
            font-size: 30px;
            font-weight: bold;
            margin: 20px 0 40px 0;
        }

        .glavFonlogin {
            display: none;
        }


        .fonLogin {
            display: none;
        }

        .login {
            font-family: "Bebas Neue", cursive;
            width: 100%;
            margin: 0 auto;
            min-height: 100vh;
            display: flex;
            justify-content: space-between;
        }

        .formLogin {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) !important;
            width: 100%;
            padding: 30px 0;
            transition: .5s;
            z-index: 1;
        }

    }
}