.divOfera{
    width: 80%;
    padding-top: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.spanGlavOferta{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}


.spanOferta{
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 18px;
}