.learnDiv{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    text-align: center;
}

.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.modal-close {
    position: absolute;
    top: 8%;
    right: 8%;
    font-size: 100px;
    cursor: pointer;
    z-index: 1;
}

.imgSertificate {
    max-width: 400px;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modal-content img {
    max-width: 100%;
    max-height: 80vh;
}

.learnSpanKourse{
    font-size: 25px;
    color: #9486b3;
    font-weight: bold;
}
.spanLearn{
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 35px;
    font-weight: bold;
    color: #9486b3;
}
.learnProgram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learnP{
    margin: 30px 0;
    font-size: 19px;
    color: #9486b3;
}
.learnDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #75a59e;
    margin: 20px;
    padding: 50px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    &:before{
        content: '';
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 100px;
        border-bottom: 2px solid #75a59e;
        top: -20px;
    }
    &:after{
        content: attr(data-counter);
        text-align: center;
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: -10px;
    }
}

@media (max-width: 769px) {
    .learnP{
        margin: 20px 0;
        font-size: 17px;
        color: #9486b3;
    }
    .learnSpanKourse{
        font-size: 22px;
        color: #9486b3;
        font-weight: bold;
    }
    .learnDiv{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        text-align: center;
    }

    .spanLearn{
        margin: 0 auto;
        padding-top: 150px;
        padding-bottom: 50px;
        font-size: 30px;
        font-weight: bold;
        color: #9486b3;
    }
}

@media (max-width: 416px) {
    .imgSertificate {
        max-width: 300px;
        cursor: pointer;
    }
}