*,
*::before,
*::after {
    box-sizing: border-box;
}
ul[class],
ol[class] {
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}
article > * + * {
    margin-top: 1em;
}
input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
.App {
    position: relative;
    font-family: "Bebas Neue", "SansSerif", serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.simpAccordion{
    width: 80% !important;
}
@media (max-width: 1208px) {
    .menuSpan {
        text-decoration: none;
        cursor: pointer;
        color: white;
        font-size: 17px !important;
        font-weight: bold;
        margin: 35px 25px !important;
    }


    .backImage {
        width: 100%;
        height: 100vh;
        position: absolute;
        background: url('girl2.jpg') center !important;
        background-size: cover !important;
    }
    .batonStandart {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #9486b3 !important;
        border: none;
        color: white;
        font-size: 17px !important;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        font-weight: 700;
        padding: 5px;
    }



    .h1 {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        position: absolute;
        bottom: 50px !important;
        font-size: 60px !important;
        color: #9486b3 !important;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


@media (max-width: 1011px) {
    .menuSpan {
        text-decoration: none;
        cursor: pointer;
        color: white;
        font-size: 16px !important;
        font-weight: bold;
        margin: 30px 20px !important;
    }

    .batonStandart {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #9486b3 !important;
        border: none;
        color: white;
        font-size: 16px !important;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        font-weight: 700;
        padding: 5px;
    }


    .backImage {
        width: 100%;
        height: 100vh;
        position: absolute;
        background: url('girl2.jpg') center !important;
        background-size: cover !important;
    }


    .h1 {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        position: absolute;
        bottom: 20px !important;
        font-size: 50px !important;
        color: #9486b3 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }


    .matrixText {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 70px !important;
        line-height: 30px !important;
        text-align: center;
        color: #9486b3 !important;
        padding-top: 20px;
    }


    .baton {
        text-decoration: none;
        background-color: #317c53;
        border: none;
        color: white;
        padding: 20px 20px;
        display: inline-block;
        font-size: 20px !important;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }
}


@media (max-width: 903px) {
    .menuSpan {
        text-decoration: none;
        cursor: pointer;
        color: white;
        font-size: 13px !important;
        font-weight: bold;
        margin: 20px 10px !important;
    }

    .backImage {
        width: 100%;
        height: 100vh;
        position: absolute;
        background: url('girl2.jpg') center !important;
        background-size: cover !important;
    }

    .batonStandart {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #317c53;
        color: white;
        font-size: 13px !important;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        font-weight: 700;
        padding: 5px;
    }


    .h1 {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        position: absolute;
        bottom: 20px !important;
        font-size: 40px !important;
        text-align: center;
        line-height: 2;
        color: #588e7f;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .matrixText {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 50px !important;
        line-height: 10px !important;
        text-align: center;
        color: #9486b3 !important;
        padding-top: 20px;
    }

    .baton {
        text-decoration: none;
        background-color: #317c53;
        border: none;
        color: white;
        padding: 20px 20px;
        display: inline-block;
        font-size: 17px !important;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }
}


@media (max-width: 710px) {
    .header {
        top: 0 !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        width: 100% !important;
        right: 50%;
        transform: translateX(50%);
        height: 80px;
        background-color: #9FBEB7;
        border-radius: 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 15 !important;
    }
    .backImage {
        width: 100%;
        background: url('girl2.jpg') center !important;
        background-size: cover !important;
    }
    .headerList {
        display: flex;
        justify-content: flex-start !important;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        color: black !important;
        background-color: white;
        align-items: center;
        position: absolute;
        top: -1700%;
        z-index: 1;
        transition: .3s ease-in-out;
        margin: 0 !important;
    }
    .activeBurger {
        top: 0;
        transition: .3s ease;

    }
    .ef{
        margin-top: 40px;
        font-size: 50px !important;
        color: #3f775f !important;
    }
    .burger-icon {
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
        padding: 20px;
        left: 15px;
    }

    .burger-icon::before,
    .burger-icon::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 6px;
        background-color: #333;
        top: 8px;
        transition: transform 0.2s ease-in-out;
        left: 5px;
        z-index: 2;
    }

    .burger-icon::before {
        top: 14px;
    }

    .burger-icon::after {
        top: 30px;
    }

    #toggle-menu:checked ~ .burger-icon::before {
        transform: translateY(8px) rotate(-45deg);
    }

    #toggle-menu:checked ~ .burger-icon::after {
        transform: translateY(-8px) rotate(45deg);
    }

    #toggle-menu {
        display: none;
    }


    .menuSpan {
        text-decoration: none;
        cursor: pointer;
        color: #3f775f !important;
        font-size: 20px !important;
        font-weight: bold;
        margin: 30px 10px !important;
        &:after{
            content: '';
            display: block;
            position: absolute;
            margin-top: 20px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: rgb(0, 0, 0, .2);
        }
    }

    .batonStandart {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #9486b3 !important;
        border: none;
        color: white;
        font-size: 13px !important;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        font-weight: 700;
        padding: 5px;
    }


    .h1 {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        position: absolute;
        bottom: 75px !important;
        font-size: 30px !important;
        color: #9486b3 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .baton {
        text-decoration: none;
        background-color: #9486b3 !important;
        color: white;
        padding: 20px 20px;
        display: inline-block;
        font-size: 17px !important;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }

    .AppLow {
        height: 100vh;
        width: 80%;
        display: flex;
        justify-content: center !important;
        text-align: center;
        position: relative;
    }

    .matrixText {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 40px !important;
        line-height: 10px !important;
        text-align: center;
        color: #9486b3 !important;
        padding-top: 20px;
    }
    .simpAccordion{
        width: 100% !important;
    }
}






#toggle-menu {
    display: none;
}





.ef{
    font-size: 50px !important;
    color: white;
    &:hover{
        color: #9486b3 !important;;
    }
    &:active{
        color: #9486b3 !important;;
    }
}


.header {
    top: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    width: 80%;
    right: 50%;
    transform: translateX(50%);
    height: 80px;
    background-color: #9FBEB7;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.matrixText {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 70px;
    line-height: 40px;
    text-align: center;
    color: #9486b3 !important;
    padding-top: 20px;
}


.h1 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    bottom: 30%;
    font-size: 50px;
    color: #9486b3 !important;
    display: flex;
    text-align: center;
    flex-direction: column;
}


.divLog {
    display: flex;
    margin-right: 20px;
}


.baton {
    text-decoration: none;
    background-color: #9486b3;
    border: none;
    color: white;
    padding: 20px 20px;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}


.baton::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 200%;
    display: flex;
    align-items: center;
    bottom: -10px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    border-radius: 5px;
    animation: shining 1s infinite alternate linear;
}


.baton:hover {
    box-shadow: 0 0 5px 2px #fff;
}


@keyframes shining {
    0% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(60%);
    }
}


.headerList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 0 10px;
}



.backImage {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url('girl2.jpg') no-repeat 70%;
    background-size: cover !important;
}


.AppLow {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
}


.menuSpan {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 50px 40px;
}

.menuSpan:hover {
    color: rgb(186, 130, 167);
}

.icon:hover {
    color: rgb(186, 130, 167);
}

.link {
    text-decoration: none;
    color: white;
}

