.allPay {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backColor {
    width: 100%;
    display: flex;
    align-items: center;
}

.spanPay {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: -1px -1px 0 #964B00,
    1px -1px 0 #964B00,
    -1px 1px 0 #964B00,
    1px 1px 0 #964B00;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.ulPay {
    font-size: 19px;
    color: white;
    font-weight: bold;
}

.fiol {
    text-shadow: -1px -1px 0 rgb(148, 134, 179),
    1px -1px 0 rgb(148, 134, 179),
    -1px 1px 0 rgb(148, 134, 179),
    1px 1px 0 rgb(148, 134, 179);
}

.ic {
    margin-right: 5px;
}


.tarifText {
    font-size: 55px;
    font-weight: bold;
    margin: 65px 0;
    color: rgb(148, 134, 179);
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: .5s;
    &:hover{
        transition: .5s;
        transform: scale(1.05);
    }
}

.listPay {
    display: grid;
    gap: 10px;
    height: auto;
    width: 100%;
    margin-bottom: 80px;
    grid-template-areas:
    "D D D D   D D E E   E E E E   A A A A"
    "B B B B   B B B B   C C C C   A A A A"
    "B B B B   B B B B   C C C C   A A A A";
}

.price {
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: white;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

.batonStandart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: rgb(186, 130, 167);
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    font-weight: 700;
    padding: 5px;
    &:hover {
        box-shadow: 0 0 5px 2px #fff;
        background-color: rgb(186, 130, 167);
    }
}


.box1 {
    grid-area: A;
    background-color: rgb(111, 137, 173) !important;
}

ul {
    list-style-type: none;
}


.box2 {
    grid-area: B;
    background-color: rgb(228, 228, 206) !important;
}


.box3 {
    grid-area: C;
    background-color: rgb(148, 134, 179) !important;
}

.box4 {
    grid-area: D;
    background-color: rgb(186, 130, 167) !important;
}

.box5 {
    grid-area: E;
    background-color: rgb(222, 176, 161) !important;
}