.allPay {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backColor {
    width: 100%;
    display: flex;
    align-items: center;
}

.otstup {
    padding-top: 150px;
}

.spanPay {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.ulPay {
    font-size: 16px;
    font-weight: bold;
}


.ic {
    margin-right: 5px;
}

.tarifText {
    font-size: 55px;
    font-weight: bold;
    margin: 65px 0;
    color: #9486b3;
    text-align: center;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    height: 400px;
    width: 350px;
    transition: .5s;
    border: 2px solid #588e7f;
}

.card:hover {
    transition: .5s;
    transform: scale(1.05);
}

.listPay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    width: 100%;
    margin-bottom: 80px;
}

.price {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}


.divBoxPay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.batonStandart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #9486b3 !important;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    font-weight: 700;
    padding: 5px;
}


.batonStandart:hover {
    box-shadow: 0 0 5px 2px #fff;
    background-color: #317c53;
}


ul {
    list-style-type: none;
}



.pVajno {
    text-align: center;
    color: red;
    font-size: 25px;
    margin-bottom: 50px;
}

.spanVajno {
    font-size: 30px;
    color: red;
    font-weight: bold;
}


@media (max-width: 651px) {
    .tarifText {
        font-size: 40px;
        font-weight: bold;
        margin: 65px 0;
        color: #9486b3;
        text-align: center;
    }


    .spanPay {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }


    .ulPay {
        font-size: 16px;
        font-weight: bold;
    }


    .pVajno {
        text-align: center;
        color: red;
        font-size: 20px;
        margin-bottom: 50px;
    }

    .spanVajno {
        font-size: 25px;
        color: red;
        font-weight: bold;
    }
}


@media (max-width: 484px) {
    .tarifText {
        font-size: 35px;
        font-weight: bold;
        margin: 35px 0;
        color: #9486b3;
        text-align: center;
    }
    .allPay {
        height: 100%;
        width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .spanPay {
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }


    .ulPay {
        font-size: 14px;
        font-weight: bold;
    }
    .pVajno {
        text-align: center;
        color: red;
        font-size: 20px;
        margin-bottom: 50px;
    }

    .spanVajno {
        font-size: 25px;
        color: red;
        font-weight: bold;
    }
}


@media (max-width: 416px) {
    .tarifText {
        font-size: 30px;
        font-weight: bold;
        margin: 35px 0;
        color: #9486b3;
        text-align: center;
    }
    .pVajno {
        text-align: center;
        color: red;
        font-size: 15px !important;
        margin-bottom: 50px;
    }

    .spanVajno {
        font-size: 20px;
        color: red;
        font-weight: bold;
    }
}